@import '/src/styles/variables.scss';

#ContentsMain {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .feeds {
    max-width: 614px;
    width: 100%;
    margin: 0 28px 24px 0;

    #story-wrap {
      border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
      border-radius: 3px;
      margin-top: 0;
      padding: 24px 10px 16px;
      background: #fff;

      .story-user-list {
        width: 100%;
        display: flex;

        .story-user {
          padding: 0 14px;
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .story-tum {
            width: 56px;
            height: 56px;
            border-radius: 28px;
            border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
            margin-bottom: 9px;
          }

          .story-tum::after {
            content: '';
            background: url($urlJaemin + 'border.png') no-repeat 0 0;
            background-size: cover;
            display: inline-block;
            height: 68px;
            width: 66px;
            position: absolute;
            top: -7px;
            left: 9px;
          }

          .user-id {
            letter-spacing: 0.01em;
            max-width: 74px;
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            color: #262626;
          }

          .story-tum01 {
            background: url($urlJaemin + 'user_chick.png') no-repeat center top;
            background-size: cover;
          }

          .story-tum02 {
            background: url($urlJaemin + 'user_deer.jpeg') no-repeat center top;
            background-size: cover;
          }

          .story-tum03 {
            background: url($urlJaemin + 'user_dolphin.jpeg') no-repeat center
              top;
            background-size: cover;
          }

          .story-tum04 {
            background: url($urlJaemin + 'user_chicken.jpeg') no-repeat center
              top;
            background-size: cover;
          }

          .story-tum05 {
            background: url($urlJaemin + 'user_eagle.jpeg') no-repeat center top;
            background-size: cover;
          }
        }
      }
    }

    #article {
      width: 100%;
      margin-top: 24px;
      border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);

      .article-header {
        width: 100%;
        height: 69px;
        background: #fff;
        padding: 14px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .article-thumbnail {
          width: 32px;
          height: 32px;
          border-radius: 21px;
          border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
          background-size: cover;
          position: relative;

          img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
          }
        }

        .article-thumbnail::after {
          content: '';
          background: url($urlJaemin + 'border.png') no-repeat 0 0;
          background-size: cover;
          display: inline-block;
          height: 43px;
          width: 42px;
          position: absolute;
          top: -7px;
          left: -6px;
        }

        .article-user-wrap {
          margin-left: 14px;

          .article-user {
            font-size: 14px;
            font-weight: 600;
          }

          .address {
            font-size: 12px;
            margin-top: 5px;
            color: rgba(var(--i1d, 38, 38, 38), 1);
          }
        }

        .fa-ellipsis-h {
          margin-left: auto;
          color: rgb(38, 38, 38);
          font-size: 24px;
          cursor: pointer;
        }
      }

      .article-img {
        width: 100%;
        height: 614px;
        background-size: cover;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .article-icon-wrap {
        width: 100%;
        background: #fff;
        padding: 6px 16px 8px;
        display: flex;

        .icon {
          display: inline-block;
          width: 40px;
          height: 40px;
          padding: 8px;
          text-align: center;
          line-height: 24px;

          svg {
            font-size: 24px;
          }
        }

        .icon:first-child {
          padding-left: 0;
        }

        .icon:last-child {
          padding-right: 0;
          margin-left: auto;
          margin-right: -7px;
        }
      }

      .article-like {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #fff;
        padding: 0 16px 8px;

        img {
          width: 20px;
          height: 20px;
          border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
          border-radius: 10px;
          margin-right: 5px;
          object-fit: cover;
        }

        p {
          font-size: 14px;

          .like-user,
          .like-total {
            font-weight: 600;
          }
        }
      }

      .article-description {
        width: 100%;
        background-color: #fff;
        padding: 0 16px;
        font-size: 14px;
        line-height: 1.4em;

        .desc-header {
          display: flex;
          flex-direction: row;

          /* 디스크립션 본문 글자 길이 제한 */
          .desc-txt-hide {
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            width: 50%;
          }

          .desc-txt-show {
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: inherit;
            -webkit-box-orient: inherit;
            width: 100%;
          }

          .desc-user {
            display: inline-block;
            color: rgba(var(--i1d, 38, 38, 38), 1);
            font-weight: 600;
            margin-right: 5px;
          }

          .desc-more-btn {
            background-color: transparent;
            border: none;
            font-size: 14px;
            color: #8e8e8e;
            cursor: pointer;
          }
        }

        .hashtag {
          display: flex;
          margin-top: 30px;
          display: none;

          .hashtag li {
            color: #00376b;
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }

      .article-comment-record {
        padding: 0 16px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .comment-btn {
          color: #8e8e8e;
          margin: 5px 0;
          cursor: pointer;
        }

        .comment-list {
          width: 100%;
          display: flex;
          flex-direction: column;
          max-height: 50px;
          overflow: hidden;

          .comment-list-ad {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 4px 0px;

            .comment-user {
              font-weight: 600;
            }

            .user-comment {
              margin-left: 5px;
            }

            .icon-mini-heart {
              margin-left: auto;
              cursor: pointer;
              width: 11px;
              height: 11px;
              background: url($urlJaemin + 'heart-regular.svg') no-repeat center
                center;
              background-size: cover;
            }
            .icon-mini-heart-on {
              margin-left: auto;
              cursor: pointer;
              width: 11px;
              height: 11px;
              background: url($urlJaemin + 'heart-solid.svg') no-repeat center
                center;
              background-size: cover;
            }

            .delete-btn {
              margin-left: 10px;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }

        .comment-list-more {
          max-height: none;
          overflow: inherit;
        }

        .comment_time {
          font-size: 10px;
          color: #8e8e8e;
          line-height: 18px;
          padding: 4px 0 16px 0;
        }
      }

      .article-comment-posting {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px 16px;
        background: #fff;
        border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);

        .smile-button {
          width: 40px;
          height: 40px;
          background: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          svg {
            font-size: 24px;
          }
        }

        .posting-area {
          resize: none;
          height: 18px;
          flex: 1 0 auto;
          border: none;
        }

        .posting-area::placeholder {
          color: #8e8e8e;
          font-size: 14px;
        }

        .posting-button {
          color: #0095f6;
          font-size: 14px;
          font-weight: 600;
          background: transparent;
          border: none;
          margin-left: auto;
          opacity: 0.3;
        }

        .postingBtnActive {
          opacity: 1;
          cursor: pointer;
        }

        .postingBtnInActive {
          opacity: 0.3;
          cursor: default;
        }
      }
    }
  }

  .main-right {
    max-width: 293px;
    width: 100%;
    height: 100vh;

    .main-fixed-space {
      position: fixed;
      height: 100vh;
      width: 293px;
      display: flex;
      flex-direction: column;

      .login-user {
        display: flex;
        flex-direction: row;
        margin: 18px 0 10px 0;
        align-items: center;

        .login-user-tum-wrap {
          width: 66px;
          height: 66px;
          display: flex;
          align-items: center;

          .login-user-tum-img {
            width: 56px;
            height: 56px;
            background: url($urlCommon + 'user.jpeg') no-repeat center center;
            background-size: cover;
            border-radius: 28px;
            border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
          }
        }

        .nickname-wrap {
          display: flex;
          flex-direction: column;
          margin-left: 7px;

          p {
            color: #262626;
            font-weight: 600;
            font-size: 14px;
          }

          p:last-child {
            color: #8e8e8e;
            margin-top: 4px;
            font-family: 400;
          }
        }

        .change-btn {
          color: #0095f6;
          font-size: 12px;
          font-weight: 600;
          margin-left: auto;
          background: transparent;
          border: none;
        }
      }

      .suggestion-wrap {
        display: flex;
        flex-direction: column;

        .suggestion-header {
          display: flex;
          justify-content: space-between;
          margin: 12px 0 4px 0;

          span {
            font-size: 14px;
            color: #8e8e8e;
            font-weight: 600;
          }

          a {
            font-size: 12px;
            color: #262626;
            font-weight: 600;
          }
        }

        .suggestion-list-wrap {
          display: flex;
          flex-direction: column;

          .suggestion-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 4px 0;

            .suggestion-tum-wrap {
              width: 42px;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center;

              .suggestion-tum-img {
                width: 32px;
                height: 32px;
                border-radius: 16px;
                border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
              }
            }

            .suggestion-user-wrap {
              display: flex;
              flex-direction: column;
              margin-left: 5px;

              p:first-child {
                color: #262626;
                font-weight: 600;
                font-size: 14px;
              }
              p:last-child {
                color: #8e8e8e;
                font-weight: 400;
                font-size: 12px;
                margin-top: 8px;
              }
            }

            .follow-button {
              color: #0095f6;
              font-size: 12px;
              font-weight: 600;
              margin-left: auto;
              background: transparent;
              border: none;
              cursor: pointer;
            }
          }

          .suggestion-list:first-child {
            margin-top: 8px;
          }

          .suggestion-list:last-child {
            margin-bottom: 0;
          }

          .suggestion-list:nth-child(1) {
            .suggestion-tum-img {
              background: url($urlJaemin + 'user_elephant.jpeg') no-repeat
                center top;
              background-size: cover;
            }
          }
          .suggestion-list:nth-child(2) {
            .suggestion-tum-img {
              background: url($urlJaemin + 'user_lion.jpeg') no-repeat center
                top;
              background-size: cover;
            }
          }
          .suggestion-list:nth-child(3) {
            .suggestion-tum-img {
              background: url($urlJaemin + 'user_rabit.jpeg') no-repeat center
                top;
              background-size: cover;
            }
          }
          .suggestion-list:nth-child(4) {
            .suggestion-tum-img {
              background: url($urlJaemin + 'user_tiger.jpeg') no-repeat center
                top;
              background-size: cover;
            }
          }
          .suggestion-list:nth-child(5) {
            .suggestion-tum-img {
              background: url($urlJaemin + 'user_weasel.jpeg') no-repeat center
                top;
              background-size: cover;
            }
          }
        }
      }

      .right-foo {
        display: flex;
        flex-direction: column;
        margin-top: 28px;

        ul {
          display: flex;
          flex-direction: row;
          margin-bottom: 19px;
          flex-wrap: wrap;

          li {
            font-size: 11px;
            font-weight: 400;
            line-height: 18px;
            text-transform: none;
            color: #c7c7c7;
          }

          li::after {
            content: '\00B7';
            margin: 0 0.25em 0 0.25em;
          }

          li:last-child::after {
            content: none;
          }
        }

        span {
          font-size: 11px;
          font-weight: 400;
          line-height: 18px;
          text-transform: none;
          color: #c7c7c7;
        }
      }
    }
  }

  /* [Mission] 추가 구현 사항 - Mission 9 | 반응형 구현 */
  @media screen and (max-width: 1000px) {
    .main-right {
      display: none;
    }
  }
}
