/*General*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

* {
  font-family: 'system', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.profile-container,
.feeds-profile,
.feeds-like,
.interaction-bar,
.recommendation-header,
.story-header,
.story-stack,
.recommendation-stack {
  display: flex;
  align-items: center;
}

.body2 {
  background-color: #fafafa;
  height: 100vh;

  input {
    border: none;
  }

  .bold {
    font-weight: 600;
  }

  .navWrap {
    height: 60px;
  }

  main {
    padding: 30px 0 30px 0;

    img {
      width: 100%;
      display: flex;
      align-items: center;
    }

    section {
      background-color: #fff;
    }

    .main-container {
      display: flex;
      justify-content: center;

      .main-right {
        width: 293px;
        .main-right-fixing {
          .aside-profile-img-container {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            overflow: hidden;
            margin-right: 12px;
          }

          .profile {
            display: flex;
            align-items: center;
            padding: 18px 0 10px 0;

            .bold {
              margin-bottom: 2px;
            }

            .profile-img-container {
              width: 56px;
              height: 56px;
              overflow: hidden;
              border-radius: 28px;
              margin-right: 18px;
            }
            #profile-info {
              .name {
                color: #8e8e8e;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

/*footer*/
