/*General*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

* {
  font-family: 'system', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.profile-container,
.feeds-profile,
.feeds-like,
.interaction-bar,
.recommendation-header,
.story-header,
.story-stack,
.recommendation-stack {
  display: flex;
  align-items: center;
}

.body2 {
  background-color: #fafafa;
  height: 100vh;

  input {
    border: none;
  }

  .bold {
    font-weight: 600;
  }

  .navWrap {
    height: 60px;
  }

  main {
    padding: 30px 0 30px 0;

    img {
      width: 100%;
      display: flex;
      align-items: center;
    }

    section {
      background-color: #fff;
    }

    .main-container {
      display: flex;
      justify-content: center;

      .feeds {
        width: 614px;
        margin: 0 28px 0 0;

        section {
          border: 1px solid #dbdbdb;
          border-radius: 3px;

          .feeds-like,
          .interaction-bar,
          article,
          .feeds-minute {
            padding: 0 16px;
          }

          .comment-hidden {
            padding: 2px 8px;
          }

          .feeds-profile {
            justify-content: space-between;
            padding: 0 16px 0 14px;
            height: 60px;

            .profile-container {
              .feeds-profile-img {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 20px;
                margin-right: 14px;
              }
            }

            .fa-ellipsis-h {
              height: 24px;
              width: 24px;
            }
          }

          .interaction-bar {
            justify-content: space-between;
            height: 54px;

            .fa-heart,
            .fa-comment,
            .fa-paper-plane,
            .fa-bookmark {
              width: 24px;
              height: 24px;
              margin: 0 8px 0 0;
            }
          }

          .feeds-like {
            font-size: 14px;
            height: 18px;
            margin: 0 0 8px;

            .like-profile-img {
              width: 14px;
              height: 14px;
              border-radius: 7px;
              overflow: hidden;
              margin-right: 4px;

              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }

          .feed-content {
            height: 22px;
          }

          .feeds-minute {
            margin-top: 0px;
            padding-bottom: 4px;
            font-size: 10px;
            color: #8e8e8e;
          }

          .comment-container {
            padding: 0 16px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #efefef;
            margin-top: 8px;

            .add-comment {
              width: 40px;
              height: 80%;
              background-color: transparent;
              border: none;
            }

            .comment {
              max-width: 517px;
              width: 80%;
            }
          }
        }
      }

      .main-right {
        width: 293px;
        .main-right-fixing {
          .aside-profile-img-container {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            overflow: hidden;
            margin-right: 12px;
          }

          .profile {
            display: flex;
            align-items: center;
            padding: 18px 0 10px 0;

            .bold {
              margin-bottom: 2px;
            }

            .profile-img-container {
              width: 56px;
              height: 56px;
              overflow: hidden;
              border-radius: 28px;
              margin-right: 18px;
            }
            #profile-info {
              .name {
                color: #8e8e8e;
                font-weight: bold;
              }
            }
          }

          .story,
          .recommendation {
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            margin: 4px 0 8px 0;
            padding: 4px 0 8px 0;
          }
          .story-header,
          .recommendation-header {
            padding: 8px 12px;
            justify-content: space-between;
            color: #8e8e8e;
          }

          .story-stack,
          .recommendation-stack {
            padding: 6px 12px;
            display: flex;
          }

          .story {
            .story-header {
              .view-all {
                font-size: 12px;
                color: #262626;
              }
            }

            .story-stack {
              .profile-info {
                .caption {
                  font-size: 12px;
                  color: #8e8e8e;
                }
              }
            }
          }

          .recommendation {
            .recommendation-header {
              .view-all {
                font-size: 12px;
                color: #262626;
              }
            }

            .recommendation-stack {
              justify-content: space-between;

              .recommended-users {
                display: flex;

                .profile-info {
                  .caption {
                    font-size: 12px;
                    color: #8e8e8e;
                    margin: 2px;
                  }
                }
              }
              .follow-button {
                font-size: 12px;
                color: #0095f6;
              }
            }
          }
        }

        footer {
          font-size: 11px;
          color: #c7c7c7;
        }
      }
    }
  }
}

/*footer*/
